<a href="https://colab.research.google.com/github/Wolfasaurus-08/DI_Bootcamp/blob/main/wk3_day3Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [2]:
data = pd.read_csv('datascience_salaries.csv')

# Create a copy of the DataFrame
data_copy = data.copy()

In [3]:
print(data_copy.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

In [12]:
scaler = MinMaxScaler()
data_copy['normalized_salary'] = scaler.fit_transform(data_copy[['salary']])

In [11]:
experience_mapping = {'Junior': 1, 'Mid-level': 2, 'Senior': 3}
data_copy['experience_level_numeric'] = data_copy['experience_level'].map(experience_mapping)

In [13]:
categorical_columns = ['job_title', 'location']
data_dummies = pd.get_dummies(data_copy[categorical_columns], drop_first=True)

In [14]:
features = pd.concat([
    data_copy[['normalized_salary', 'experience_level_numeric']],
    data_dummies
], axis=1)

In [16]:
features.fillna(features.mean(), inplace=True)

In [18]:
pca = PCA(n_components=2)  # Reduce to 2 components
pca_result = pca.fit_transform(features)
data_copy['pca_one'] = None
data_copy['pca_two'] = None

In [19]:
data_copy.loc[features.index, 'pca_one'] = pca_result[:, 0]
data_copy.loc[features.index, 'pca_two'] = pca_result[:, 1]

In [20]:
grouped_data = data_copy.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()
grouped_data.columns = ['experience_level', 'average_salary', 'median_salary']

In [21]:
print(grouped_data)

  experience_level  average_salary  median_salary
0            Entry    36111.111111        30000.0
1        Executive    76076.923077        46000.0
2              Mid    51786.885246        51000.0
3           Senior    75088.033012        68000.0

In [22]:
print(data_copy[['experience_level', 'pca_one', 'pca_two']].head())

  experience_level   pca_one   pca_two
0           Senior  0.727637 -0.260297
1           Senior  0.733437 -0.277807
2           Senior  0.715669 -0.310223
3           Senior  0.733437 -0.277807
4           Senior  0.727637 -0.260297